<div class="loginForm">
  <div class="formulario">
    <div class="titulo-registro">
      <img src="/images/logo.png" alt="icono" width="30px" height="30px" />
      <h3 class="tituloregistro">Accede a NomadVentures</h3>
    </div>
    <form action="/auth/login" method="post">

      <div class="mb-3" style="width: 500px;">
        <label for="email" class="form-label">Correo Electronico</label>
        <input type="email" class="form-control" name="email" />
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" />
      </div>

      <button type="submit" class="btn btn-primary loginBtn">Acceder</button>
      {{#if this.errorMessage}}
        <p style="color: red">{{this.errorMessage}}</p>
      {{/if}}
    </form>
    <div style="heigth:25px; width:100vw">
      <hr
        style="border: none;  height: 12px; background: linear-gradient(to right, #000000, #e8e0cd, #000000);"
      />
    </div>
    <p>¿ Todavia no eres miembro de NomadVentures ?</p>
    <a style="text-decoration: none;" href="/auth/signup"><button
        class="btn btn-primary loginBtn"
      >Registro</button></a>
  </div>
</div>