<div class="home-imagen">
  <img src="images/NomadVentures.png" alt="image" width="50%" />
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<hr
  style="border: none; height: 25px; background: linear-gradient(to right, #2e2d29, #e8e0cd, #2e2d29);"
/>
<br />
<br />
<br />

<div class="primero">
  <div class="texto1">
    <h2>Recorre Edimburgo con nosotros </h2>

    <p style="max-width: 500px">Descubre la magia de Edimburgo en un viaje
      inolvidable. Recorrer sus calles empedradas y contemplar sus imponentes
      edificios históricos te transportará a un mundo de encanto y misterio.
      Desde el imponente castillo que corona la ciudad, hasta el vibrante barrio
      de Grassmarket, donde podrás disfrutar de auténticos pubs escoceses y
      tiendas únicas. Sumérgete en la tranquilidad del Real Jardín Botánico y
      déjate maravillar por su exuberante belleza. Recorre la emblemática Royal
      Mile, una calle llena de historia y cultura, donde encontrarás museos
      fascinantes y artistas callejeros que te sorprenderán. Edimburgo te espera
      con su diversidad y encanto incomparables. ¡Reserva ahora y vive una
      experiencia única en la cautivadora ciudad escocesa de Edimburgo!</p>

  </div>
  <div class="video1">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/acf8UOS2NOg"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />

<div class="segundo">
  <div>
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/lWMjy4rIIqo"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
  <div class="texto2">
    <h2>Descubre al milimitro las maravillas de Korea</h2>

    <p style="max-width: 500px">Recorrer la cautivadora ciudad de Busan es adentrarse en una fascinante
      combinación de tradición y modernidad. Sus bulliciosos mercados, como el
      mercado de Jagalchi, te sumergen en la auténtica vida local, mientras que
      sus impresionantes rascacielos y playas de arena dorada te transportan a
      la vanguardia urbana. No puedes dejar de visitar el famoso templo de
      Beomeosa, donde la espiritualidad y la serenidad se entrelazan en un
      entorno montañoso impresionante. Los amantes de la cultura encontrarán en
      el vibrante distrito de Gamcheon una explosión de color y arte callejero.
      Busan es una ciudad que cautiva con su energía vibrante y su rica oferta
      cultural. ¡Descubre la esencia de Busan y reserva tu viaje ahora mismo!</p>

  </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />

<div class="tercero">
  <div class="texto3">
    <h2>Visita la maravillosa ciudad de A Coruña</h2>
    
    <p style="max-width: 500px">Descubre la mágica ciudad de A Coruña mientras te adentras en un
      emocionante viaje. Recorre sus calles empedradas, impregnadas de historia
      y encanto gallego. Sumérgete en la belleza del imponente faro de Hércules,
      el faro romano más antiguo del mundo aún en funcionamiento. Pasea por la
      pintoresca playa de Riazor y admira el majestuoso mar Atlántico. No te
      pierdas la oportunidad de degustar la deliciosa gastronomía local, desde
      el pulpo a la gallega hasta las exquisitas empanadas. Déjate seducir por
      el espíritu acogedor de sus habitantes y siente cómo la ciudad te invita a
      embarcarte en un viaje inolvidable. ¡Descubre A Coruña y despierta tus
      sentidos!</p>
    
  </div>
  <div>
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/Pa0aszvjB84"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />

<div class="cuarto">

  <div>
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/b8qYjnoyCjs"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
  <div class="texto4">
    <h2>Ven con nosotros a Vietnam</h2>

    <p style="max-width: 500px">Recorrer Vietnam es adentrarse en un país lleno de maravillas y
      sorpresas. Desde la bulliciosa ciudad de Hanói, con sus calles repletas de
      motocicletas y su rica historia, hasta las impresionantes terrazas de
      arroz en Sapa, cada rincón te cautivará. No puedes dejar de visitar la
      Bahía de Cat Ba, con sus espectaculares formaciones rocosas y sus aguas
      cristalinas, donde podrás disfrutar de cruceros y actividades acuáticas
      inolvidables. La antigua ciudad imperial de Hué te transportará a la época
      de los emperadores vietnamitas, mientras que la encantadora ciudad de Hoi
      An te seducirá con su arquitectura colonial y sus coloridas linternas.
      Vietnam te espera con su exuberante naturaleza, su rica cultura y su
      cálida hospitalidad. ¡Reserva tu viaje y descubre la magia de este
      increíble país!</p>

  </div>
</div>