<div class="home-imagen">
<img src="images/NomadVentures.png" alt="image" width="700px">
</div>

{{!-- <div class="home-imagen">
<img src="images/NomadVentures2.png" alt="image" width="700px">
</div> --}}