.paletadecolores {
  background-color: #e8e0cd;
  background-color: #a7a194;
  background-color: #6f6c62;
  background-color: #2e2d29;
  background-color: #000000;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  color: white;
}

/* Barra de navegacion _______________________________________________ */
nav {
  background-color: #6f6c62;
  width: 90vw;
  border-radius: 100px;
  position: relative;
  top: -35px;
  padding: 8px;
  z-index: 1;
}

nav img {
  border-radius: 100px;
}
nav a {
  color: #e8e0cd;
  text-decoration: none;
  margin: 10px;
}

nav a:hover {
  color: #ffffff;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 8px;
}

.nav-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
}

nav .nav-derecha {
  margin-right: 10px;
  display: flex;
  justify-content: flex-end;
  width: 20%;
}

nav .nav-izquierda {
  display: flex;
  justify-content: flex-start;
  width: 20%;
}

nav .nav-centro .loggedOff {
  display: flex;
  justify-content: center;
}
/* Home _______________________________________________ */

.home-imagen {
  display: flex;
  justify-content: center;
  position: relative;
  top: 0px;
}

/* Destinos _______________________________________________ */

.btn-group .color button {
  background-color: #6f6c62;
  border-color: #6f6c62;
  color: #e8e0cd;
  font-size: 13px;
  width: 80vw;
  margin-top: 20px;
  margin-bottom: 10px;
}

.dropdown-menu {
  background-color: #a7a194;
  /* background-color: #6f6c62; */
}

.dropdown-menu .ab,
.dropdown-menu .bc {
  background-color: #a7a194 !important;
  height: 10px;
  /* background-color: #6f6c62; */
}

.dropdown-menu .ab:hover,
.dropdown-menu .bc:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 8px;
}

.titulo-expediciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #e8e0cd;
}

h1 {
  color: 15px;
}

.lista-destinos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.lista-destinos a {
  text-decoration: none;
}
.lista-destinos img {
  height: 250px;
  width: 300px;
  object-fit: cover;
}

/* Destinos Detalles _______________________________________________ */
.detalles-destino h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: #e8e0cd;
}
.detalles-destino img {
  height: 300px;
  width: 400px;
  object-fit: cover;
}

.container-detalles {
  display: flex;
  justify-content: center;
}

.datosDetalle {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Perfil _______________________________________________ */

.lista-destinos-perfil {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.lista-destinos-perfil a {
  text-decoration: none;
}
.lista-destinos-perfil img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.card .profileCard {
  display: flex;
  flex-direction: column;
}

.perfil h3 {
  display: flex;
  justify-content: center;
  margin: 0px 0px 20px 0px;
}

/* general _________________________________________________________*/
.btn .btn-primary {
  background-color: #6f6c62;
  color: #000000;
}

.botonperfil {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6f6c62;
  color: #e8e0cd;
  text-decoration: none;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.botonperfil:hover {
  color: #ffffff;
  background-color: #a7a194;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

.imagenpPerfil {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.imagenpPerfil img {
  height: 160px;
  width: 200px;
  object-fit: cover;
}

.perfil h1 {
  display: flex;
  justify-content: center;
}

.perfilCompleto {
  background-color: #000000;

  display: flex;
  justify-content: center;
  align-self: center;
}
/* Botones */

.perfilBtn {
  background-color: #6f6c62;
  border-color: #6f6c62;
  color: #e8e0cd;
  font-size: 12px;
  width: 100px;
}
.perfilBtn:hover {
  color: #ffffff;
  background-color: #a7a194;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  border-color: #a7a194;
}

.signupBtn {
  background-color: #6f6c62;
  border-color: #6f6c62;
  color: #e8e0cd;
  font-size: 12px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.signupBtn:hover {
  color: #ffffff;
  background-color: #a7a194;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  border-color: #a7a194;
}

.loginBtn {
  background-color: #6f6c62;
  border-color: #6f6c62;
  color: #e8e0cd;
  font-size: 12px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.loginBtn:hover {
  color: #ffffff;
  background-color: #a7a194;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  border-color: #a7a194;
}

.detallelBtn {
  background-color: #6f6c62;
  border-color: #6f6c62;
  color: #e8e0cd;
  font-size: 12px;
}
.detallelBtn:hover {
  color: #ffffff;
  background-color: #a7a194;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  border-color: #a7a194;
}

.crearDestinoBtn {
  background-color: #6f6c62;
  border-color: #6f6c62;
  color: #e8e0cd;
  font-size: 12px;
}
.crearDestinoBtn:hover {
  color: #ffffff;
  background-color: #a7a194;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  border-color: #a7a194;
}

.editarDestinoBtn {
  background-color: #6f6c62;
  border-color: #6f6c62;
  color: #e8e0cd;
  font-size: 12px;
}
.editarDestinoBtn:hover {
  color: #ffffff;
  background-color: #a7a194;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  border-color: #a7a194;
}

.carta-perfil {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.list-group-item {
  background-color: #000000;
  color: #e8e0cd;
  vertical-align: middle;
}

.card {
  color: black;
  background-color: #000000;
  height: 300px;
  margin: 0px 20px 20px 20px;
  text-align: center;
  border-color: #e8e0cd;
  border-width: 1px;
}

.card-body {
  background-color: black;
  color: #e8e0cd;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.prueba-lideres {
  display: flex;
  gap: 10px;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin-top: 0px;
  /*  background-color: #6f6c62; */
  padding: 20px;
  border-radius: 50px;
}

.titulo-registro {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

/* hr{
  border-color: white;
  border-width: 2px;
} */


/* Login _______________________________________________ */
.loginForm {
  display: flex;
  justify-content: center;
  color: #e8e0cd;
}

.signupForm {
  display: flex;
  justify-content: center;
  color: #e8e0cd;
}

.crearDestinoForm {
  display: flex;
  justify-content: center;
  color: #e8e0cd;
}

.editarDestinoForm {
  display: flex;
  justify-content: center;
  color: #e8e0cd;
}

/* expediciones por validar _______________________________________________ */

.listaPorValidar{
  display: flex;
  justify-content: center;
  color: #e8e0cd;
}

.listaPorValidar a{
text-decoration: none;
}
.listaPorValidar h2{
display: flex;
justify-content: center;
margin-bottom: 20px;
}

.listaPorValidarContainer{
  display: flex;
  justify-content: center;

}

.card .listaPorValidarCard{
  height: 300px;
}

.listaPorValidarImg{
  height: 300px;
  width: 300px;
  object-fit: cover;
}

/* Destalles destino por validar _______________________________________________ */

.detallesDestinoValidar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #e8e0cd;
}

.detallesDestinoValidar h2{
margin-bottom: 20px;
}

.detallesDestinoValidarTexts{
display: flex;
flex-direction: column;
}

.detallesDestinoValidarBtns{
  display: flex;
  gap: 30px;
}


.detallesDestinoValidarBTN {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6f6c62;
  color: #e8e0cd;
  text-decoration: none;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 5px;
  width: 200px;
  margin-top: 10px;
}

.detallesDestinoValidarBTN:hover {
  color: #ffffff;
  background-color: #a7a194;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

/* Lista de Usuarios _______________________________________________ */

.listaUsuarios{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.listaUsuarios h1{
margin-bottom: 20px;
}

.listaUsuariosBtn {
  display: flex;
  justify-content: center;
  background-color: #6f6c62;
  color: #e8e0cd;
  text-decoration: none;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 5px;
  width: 100%;
  margin-top: 10px;
  border-color: #6f6c62;
}

.listaUsuariosBtn:hover {
  color: #ffffff;
  background-color: #a7a194;
  border-color: #6f6c62;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

.listaUsuariosContainer{
  display: flex;
}

.listaUsuariosImg{
  height: 170px;
  width: 170px;
  object-fit: cover;

}
/* About  _______________________________________________ */
.about-slide {
  color: #e8e0cd;
  display: flex;
  flex-direction: column;
}
.about-slide h3{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.carousel-container {
  position: relative;
  margin-bottom: 40px;
}

.carousel-indicators {
  position: absolute;
  top: 400px;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;

  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-carrusel {
  width: 1000px;
  margin-left: 100px;
  margin-right: 100px;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 50px;
}

.flechas-carrusel {
  position: relative;
  bottom: 200px;
}

.aboutTextos{
  display: flex;
  flex-direction: column;
  align-items: center;
}