body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  color: white;
}
nav{
  background-color: #6f6c62;
  width: auto;
  border-radius: 100px;
  /* position: sticky; */
  position: relative;
  top: -35px;
  padding: 8px;
  z-index: 1;

}

nav img{
  border-radius: 100px;
}
nav a {
  color: #e8e0cd;
  text-decoration: none;
  margin: 10px;
}

nav a:hover {
  color: #ffffff; 
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}

h1 {
  color: 15px;
}

.Lista-destinos{
  display: flex;
  flex-direction: row;

}

.card{
  color: black;
  background-color: #e8e0cd;
}

.card-body{
  background-color: black;
  color: white;
}

.prueba-lideres{
  display: flex;
  gap: 10px;
}

.formulario{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin-top: 0px;
 /*  background-color: #6f6c62; */
  padding: 20px;
  border-radius: 50px;
  
}

.titulo-registro{
  display: flex;
  gap: 10px;
}

/* hr{
  border-color: white;
  border-width: 2px;
} */