.paletadecolores {
  background-color: #e8e0cd;
  background-color: #a7a194;
  background-color: #6f6c62;
  background-color: #2e2d29;
  background-color: #000000;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  color: white;
}

/* Barra de navegacion _______________________________________________ */
nav {
  background-color: #6f6c62;
  width: 90vw;
  border-radius: 100px;
  position: relative;
  top: -35px;
  padding: 8px;
  z-index: 1;
}

nav img {
  border-radius: 100px;
}
nav a {
  color: #e8e0cd;
  text-decoration: none;
  margin: 10px;
}

nav a:hover {
  color: #ffffff;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 8px;
}

.nav-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
}

nav .nav-derecha {
  margin-right: 10px;
  display: flex;
  justify-content: flex-end;
  width: 20%;
}

nav .nav-izquierda {
  display: flex;
  justify-content: flex-start;
  width: 20%;
}

nav .nav-centro .loggedOff {
  display: flex;
  justify-content: center;
}
/* Home _______________________________________________ */

.home-imagen {
  display: flex;
  justify-content: center;
  position: relative;
  top: 0px;
}
.hr hr{
border-top: 80px;
color: #6f6c62;
}
.texto1{
  font-size: 18px;
}
.texto2{
  font-size: 18px;
}
.texto3{
  font-size: 18px;
}
.texto4{
  font-size: 18px;
}

.primero{
  display: flex;
  justify-content: center;
  gap: 30px;
}
.segundo{
  display: flex;
  justify-content: center;
  gap: 30px;
}
.tercero{
  display: flex;
  justify-content: center;
  gap: 30px;
}
.cuarto{
  display: flex;
  justify-content: center;
  gap: 30px;
}

/* Destinos _______________________________________________ */

.btn-group .color button {
  background-color: #6f6c62;
  border-color: #6f6c62;
  color: #e8e0cd;
  font-size: 13px;
  width: 80vw;
  margin-top: 20px;
  margin-bottom: 10px;
}

.dropdown-menu {
  background-color: #a7a194;
  /* background-color: #6f6c62; */
}

.dropdown-menu .ab,
.dropdown-menu .bc {
  background-color: #a7a194 !important;
  height: 10px;
  /* background-color: #6f6c62; */
}

.dropdown-menu .ab:hover,
.dropdown-menu .bc:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 8px;
}

.titulo-expediciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #e8e0cd;
}

h1 {
  color: 15px;
}

.lista-destinos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.lista-destinos a {
  text-decoration: none;
}
.lista-destinos img {
  height: 250px;
  width: 300px;
  object-fit: cover;
}

/* Destinos Detalles _______________________________________________ */
.detalles-destino p{
  font-size: 18px;
}

.detalles-destino h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: #e8e0cd;
  
}
.detalles-destino img {
  height: 300px;
  width: 400px;
  object-fit: cover;
}

.container-detalles {
  display: flex;
  justify-content: center;
}

.datosDetalle {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detalles-destino h5{
  font-size: 23px;
  margin-top: 20px;
  margin-bottom: 20px;
 
} 

.detallesDetalles{
  color:#e8e0cd; ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.errorMessage{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

/* Editar Destino___________________________________________ */

.dosbotones {
  display: flex;
  gap: 20px
}

.botonDelete button{
 
  color:#e8e0cd
}


/* Perfil _______________________________________________ */

.perfil{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #e8e0cd;
}

.perfil h3 {
  display: flex;
  justify-content: center;
  margin: 0px 0px 20px 0px;
}

.perfil h1 {
  margin-bottom: 20px;

}

.lista-destinos-perfil {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.lista-destinos-perfil a {
  text-decoration: none;
}
.lista-destinos-perfil img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.card .profileCard {
  display: flex;
  flex-direction: column;
}





/* general _________________________________________________________*/
.btn .btn-primary {
  background-color: #6f6c62;
  /* color: #000000; */
}

.botonperfil {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6f6c62;
  color: #e8e0cd;
  text-decoration: none;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.botonperfil:hover {
  color: #ffffff;
  background-color: #a7a194;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

.imagenpPerfil {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.imagenpPerfil img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  margin-left: 50px;
}

.ajustarPerfilBtn{
  margin-left: 50px;
}
.ajustarPerfilBtn2{
  margin-top: 17px;
}

.perfil h1 {
  display: flex;
  justify-content: center;
}

.perfilCompleto {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-self: center;
  width: 700px;
  height: 300px;
}
/* Botones */

.perfilBtn {
  background-color: #6f6c62;
  border-color: #6f6c62;
  color: #e8e0cd;
  font-size: 14px;
  width: 150px;
}
.perfilBtn:hover {
  color: #ffffff;
  background-color: #a7a194;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  border-color: #a7a194;
}



.signupBtn {
  background-color: #6f6c62;
  border-color: #6f6c62;
  color: #e8e0cd;
  font-size: 14px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.signupBtn:hover {
  color: #ffffff;
  background-color: #a7a194;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  border-color: #a7a194;
}

.loginBtn {
  background-color: #6f6c62;
  border-color: #6f6c62;
  color: #e8e0cd;
  font-size: 14px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.loginBtn:hover {
  color: #ffffff;
  background-color: #a7a194;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  border-color: #a7a194;
}

.detallelBtn {
  background-color: #6f6c62;
  border-color: #6f6c62;
  color: #e8e0cd;
  font-size: 14px;
}
.detallelBtn:hover {
  color: #ffffff;
  background-color: #a7a194;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  border-color: #a7a194;
}

.crearDestinoBtn {
  background-color: #6f6c62;
  border-color: #6f6c62;
  color: #e8e0cd;
  font-size: 14px;
}
.crearDestinoBtn:hover {
  color: #ffffff;
  background-color: #a7a194;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  border-color: #a7a194;
}

.editarDestinoBtn {
  background-color: #6f6c62;
  border-color: #6f6c62;
  color: #e8e0cd;
  font-size: 14px;
}
.editarDestinoBtn:hover {
  color: #ffffff;
  background-color: #a7a194;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  border-color: #a7a194;
}

.carta-perfil {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 60px;
  background-color: transparent!important;
}

.contenedorDatosUsuario{
  margin-top: 0px;
  font-size: 1.3em;
}

.list-group-item {
  background-color: #000000;
  color: #e8e0cd;
  vertical-align: middle;
}

.card {
  color: black;
  background-color: #000000;
  margin: 0px 20px 20px 20px;
  text-align: center;
  border-color: #e8e0cd;
  border-width: 1px;
}

.card-body {
  background-color: black;
  color: #e8e0cd;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.prueba-lideres {
  display: flex;
  gap: 10px;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin-top: 0px;
  /*  background-color: #6f6c62; */
  padding: 20px;
  border-radius: 50px;
}

.titulo-registro {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

/* hr{
  border-color: white;
  border-width: 2px;
} */

/* Login _______________________________________________ */
.loginForm {
  display: flex;
  justify-content: center;
  color: #e8e0cd;
}

.signupForm {
  display: flex;
  justify-content: center;
  color: #e8e0cd;
}

.crearDestinoForm {
  display: flex;
  justify-content: center;
  color: #e8e0cd;
}

.editarDestinoForm {
  display: flex;
  justify-content: center;
  color: #e8e0cd;
}

/* expediciones por validar _______________________________________________ */

.listaPorValidar {
  display: flex;
  justify-content: center;
  color: #e8e0cd;
}

.listaPorValidar a {
  text-decoration: none;
}
.listaPorValidar h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.listaPorValidarContainer {
  display: flex;
  justify-content: center;
}
 
.listaPorValidarImg {
  height: 300px ;
  width: 300px ;
  object-fit: cover;
}

/* Destalles destino por validar _______________________________________________ */

.detallesDestinoValidar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #e8e0cd;
}

.detallesDestinoValidar h2 {
  margin-bottom: 20px;
}

.detallesDestinoValidar h5 {
  font-size: 22px;
  margin-bottom: 15px;
  
}

.detallesDestinoValidarTexts {
  display: flex;
  flex-direction: column;
}

.detallesDestinoValidarBtns {
  display: flex;
  gap: 35px;
  margin-top:6px ;
}

.detallesDestinoValidarBTN {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6f6c62;
  color: #e8e0cd;
  text-decoration: none;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 5px;
  width: 200px;
  margin-top: 10px;
}

.detallesDestinoValidarBTN:hover {
  color: #ffffff;
  background-color: #a7a194;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

.arregloCard{
  display: flex;
  flex-direction: row;
}


.pruebasimag {

  height: 400px ;
  width: 598px ;
  object-fit: cover;
}

.validateImage{
  
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Lista de Usuarios _______________________________________________ */

.listaUsuarios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #e8e0cd;
}

.listaUsuarios h1 {
  margin-bottom: 20px;
}

.listaUsuariosBtn {
  display: flex;
  justify-content: center;
  background-color: #6f6c62;
  color: #e8e0cd;
  text-decoration: none;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 5px;
  width: 260px;
  margin-top: 0px;
  border-color: #6f6c62;
}

.listaUsuariosBtn:hover {
  color: #ffffff;
  background-color: #a7a194;
  border-color: #6f6c62;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

.listaUsuariosContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.listaUsuariosImg {
  height: 170px;
  width: 170px;
  object-fit: cover;
  margin-bottom: 20px;
}

.informacionUsuario {
  display: flex;
  flex-direction: column;
  width: 280px;
}

.cartaListaUsuario{
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}



/* About  _______________________________________________ */
.about-slide {
  color: #e8e0cd;
  display: flex;
  flex-direction: column;
}
.about-slide h3 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.carousel-container {
  position: relative;
  margin-bottom: 40px;
}

.carousel-indicators {
  position: absolute;
  top: 400px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 0;

  padding: 0;

  list-style: none;
  
} 

.contenedor-carrusel {
  width: 1000px;
  margin-left: 100px;
  margin-right: 100px;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 50px;
}

.flechas-carrusel {
  position: relative;
  bottom: 200px;
  height: 20px;
  width:600px;
  
}

.aboutTextos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-item{
  padding-left: 30%;
}

#liders-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}