<div>

<h1>ACERCA DE</h1>

<p>comienza una nueva aventura</p>

<h1>Nuestra filosofia</h1>

<p>vida de nomadassssssssss</p>


<h1>LIDERES DE EXPEDICION</h1>

{{#each}}
<li>
    <img src="{{this.allUsers.image}}" alt="image">
    <h3>{{this.allUsers.lider}}</h3>
</li>
{{/each}}

</div>